body{
  background-image: url("sky3.webp");
  background-color: beige;
  object-fit: cover;
  /* background-repeat: no-repeat; */
  padding:0;
  margin:0;
}
header{
  display:flex;
  /* justify-content: space-around;
  align-items: center;
  margin-top:1rem;
  align-items: center; */
  margin:0;
  padding:0;
}
header h1{
  font-family:'Montserrat';
  font-weight:800;
  font-size: 2.4rem;
  margin:0 42rem 0 1rem;
  cursor: pointer;
}
header img{
  border:2px solid white;
  border-radius: 6px;
  width:8%;
  margin:1.5rem 0.5rem 0 2.5rem;
  cursor:pointer;
  transition: transform 0.3s ease;
  
   transform: rotate(5deg);
}
header img:hover{
    transform: rotate(11deg) scale(1.1);
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;        
  width:83%;
  height:80px;
  border:2.5px solid white;
  border-radius: 67px;
  margin:1.6rem 2rem 0 0;
  background-color: black;
  color: white;
}
.uli ul {
  display: flex;  
  gap: 1rem;             
  margin-right:1rem;
  padding: 0;
}

nav ul li {
  list-style: none;      
}

li a {
  font-family: 'Montserrat';
  text-decoration: none;
  color: rgb(227, 221, 221);
  font-size:1.3rem;
  font-weight: 500;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin:1rem 0.5rem 1rem 2rem;
  border:2.5px solid white;
  border-radius:64px;
  background-color: black;
  color:white;
  gap:1.5rem;
  padding:2rem;
  width:90%;
  position: relative;
}
.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container p{
  font-family: 'Montserrat';
  color: rgb(227, 221, 221);
  font-size:1.5rem;
  cursor:pointer; 
}
.container p:hover{
  color:#fbcf49;
}
.box1 img{
  object-fit: cover;
  border-radius: 20px;
  width:100%;
  height:250px;
  cursor: pointer;
}
.box2 img{
  object-fit: cover;
  border-radius: 20px;
 width:100%;
  height:250px;
  cursor: pointer;
}
.box3 img{
  object-fit: cover;
  border-radius: 20px;
  width:100%;
  height:250px;
  cursor: pointer;
}
.box4 img{
  object-fit: cover;
  border-radius: 20px;
  width:100%;
 height:250px;
  cursor: pointer;
}
.pagination {
  position: absolute; 
  bottom: 15px;           
  right: 20px;
}
.pagination .arrow{
   vertical-align: middle; 
  margin-left: 5px;
}
.pagination a {
  font-family: 'Montserrat';
  color: #529cfc;
  font-weight: 800;
  float: right;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination a:hover{
  color:#fbcf49;
}
footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  margin:1rem 1rem 3rem 2rem;
  padding:0 2rem;
  border:2.5px solid white;
  border-radius: 60px;
  width:90%;
  height:80px;
}
footer .footer-left{
  display: flex;
  gap:20px;
}
footer .icon i{
  font-size:22px;
  color:grey;
  border-radius: 20px;
  padding:0.1rem;
  background-color: azure;
  transition: transform 0.3s ease, color 0.3s ease;
}
footer .footer-right{
 font-family: 'Montserrat';
 font-size:15px;
}
footer .icon:hover{
  color:black;
  transform:scale(1.3);
}
.word a{
  text-decoration: none;
  color:#529cfc;
  transition: all 0.3s ease;
}
.word a:hover{
  color:#fbcf49;
}