*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: 'Spectral';
}
header{
  display:flex;
  justify-content: space-around;
  margin:2rem 0 1rem 0;
}
.div1 h4 a{
  font-family: 'La belle aurore';
  font-weight: 200;
}
nav .div2 a{
  font-family: 'Mulish';
}
.div1{
  display: flex;
  gap:1rem;
}
.div1 h4{
  margin-top:0.3rem;
}
.div2{
  display:flex;
  gap:1.2rem;
}
header a{
  text-decoration: none;
  color: black;
}
.hero{
  background-image: url("yoga-back.jpg");
   background-size: cover;
  background-position: center 49%;
  background-repeat: no-repeat;
  position: relative;
  height:100vh;
  color:white;
  text-align: center;
  padding:11rem 0 0 0;
  line-height: 2;
}
.hero h1{
  font-size:3rem;
  font-weight: 400;
}
.hero p{
  font-size:1.3rem;
  font-weight: 200;
}
button{
  padding:1rem 2rem 1rem 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
button:hover{
background-color: #6b5e19;
}
.btn-1{
  background-color: 
#111111;
border-style: none;
  color: white;
}
.btn-2{
  background: none;
  color:white;
  border:1px solid white;
}
.btn-2:hover{
  border:none;
}
.main{
  display: grid;
  grid-template-columns: 800px 464px;
  gap:0;
  margin: 0;
}
.main img{
  width:100%;
}
.image{
  grid-column: 1/2;
}
.about{
  grid-column: 2/3;
  padding:8rem 6.5rem 0 6.5rem;
  background-color: #ffeb83;
  line-height: 1.4;
}
.about h3{
  margin-bottom:1rem;
  font-size: 2rem;
  font-weight: 400;
}
.about p{
  margin-bottom:2rem;
  font-size:1.3rem;
  font-weight: 200;
}
.about button{
  background: none;
  border: 1.5px solid black;
}
.about button:hover{
  background-color: #6b5e19;
  border: none;
  color:white;
}
.retreats h2{
  font-size:2rem;
  font-weight: 400;
margin:4.9rem 0 2rem 7.4rem;
}
.retreat{
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  gap:1.2rem;
}
.retreats{
  margin-bottom: 7rem;
}
.ret1 img{
  width:100%;
}
.retreat h3{
  font-size: 1.5rem;
  font-weight: 400;
  margin:1rem 0;
  transition: all0.2s ease;
}
.ret1 a{
  color:#6b5e37;
}
.ret1 a:hover{
  text-decoration-line: none;
}
.date{
  font-family: 'Mulish';
  font-weight: 300;
}
.retreat p{
  line-height: 1.5;
}
.info{
  font-family: 'Mulish';
  font-weight: 300;
  margin-bottom:1.5rem;
}
.date{
  margin-bottom: 1.6rem;
}
.btn-4{
  background-color: black;
  color: white;
  border: none;
}
.btn-5{
  background:none;
  color: black;
  border: 1px solid black;
  padding:1rem 2rem;
}
.btn-5:hover{
   border: none;
}
.blog{
  display: grid;
  grid-template-columns: 710px 554px;
}
.post-1{
  background-color: black;
  color: white;
  text-align:justify;
  padding:15rem 8.6rem 0 9rem;
}
.post-1 p{
  font-weight: 400;
  font-size: 1.7rem;
}
.post-1 h6{
  font-family: 'la belle aurore';
  font-weight: 200;
  font-size: 2rem;
}
.post-2 img{
  width:100%;
  height:100%;
}
.quote{
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin: 10rem 15rem 10rem 15rem;
}
.quote h6{
  font-family: 'Mulish';
  font-weight: 200;
  margin-top: 1rem;
}
.logs{
   display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  gap:2rem;
}
.log-1 img{
  width:100%;
}
.log{
  background-color: #ffeb83;
}
.log h2{
   font-size:2rem;
  font-weight: 400;
  padding:6rem 3rem 6rem 7.3rem;
}
.log-1 h3{
  font-size: 1.4rem;
  font-weight: 400;
  margin:3rem 0 1rem 0;
}
.dates{
  font-family: 'Mulish';
  font-weight: 300;
  margin-bottom: 2rem;
}
.log-1 h3 a{
  text-decoration: none;
  cursor: pointer;
  color:black;
}
.infos{
  font-family: 'Mulish';
  font-weight: 300;
  margin-bottom: 7.9rem;
}

.email{
  display: grid;
  grid-template-columns: 500px 600px;
  gap:2rem;
  margin:11rem 0 3rem 4rem;
}
.email h1{
  font-size: 1.5rem;
  font-weight: 400;
}
.more-info{
  font-size: 1rem;
  font-weight: 300;
}
.form{
  display: flex;
  flex-direction: column;
  gap:1rem;
  width:80%;
}
label {
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

 textarea {
  width: 100%;
   height:6rem;
   padding:0.5rem;
  box-sizing: border-box;
  resize: vertical;
  vertical-align: top;
}
input{
   width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
}
.form button{
  width:32%;
}
.req{
  font-size: 1rem;
  color: #818181;
}
.question h1{
  font-size: 3rem;
  padding:0 2.5rem;
  margin-left: 1.2rem;
}
.question p{
  font-size:1.6rem;
  padding:1rem 4rem;
}
footer{
  background-color: #111111;
  color: white;
  /* font-family: 'Mulish';
  font-weight: 100; */
  display: flex;
  text-align: center;
  flex-direction: column;
  line-height: 2;
  padding:5rem 0 5rem 0;
}
footer a{
  color: white;
}
footer a:hover{
  text-decoration-line: none;
}
.add h4{
  font-family: 'Mulish';
  font-weight: 300;
}
.social-icons{
  display: flex;
  justify-content: center;
  gap:2rem;
}
.social-icons a:hover{
  transform: scale(1.1);
}
.end{
  margin-top:2rem;
  color:#9c9c9c;
}
.end a{
  font-family: 'Mulish';
  color:#9c9c9c;
}